.header
    background: #444
    height: 3.5em
    line-height: 3.5em
    a
        color: #DDD
        &:hover
            color: #FFF
        text-decoration: none
        float: right
        margin: 0 1em
    .brand
        float: left
        font-size: 1.3em
        font-family: Impact, Charcoal, sans-serif
